---
# .page-header { background-image: url("/assets/images/Welcome.jpg"); }
---

@import "{{ site.theme }}";

html { font-family: "Book Antiqua", serif; }
body { font-family: "Book Antiqua", serif; }
